.App {
  /* text-align: center;  */
  font-family: 'Arvo', serif;
}

.list {
  list-style: none;
}

header { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
  padding:0px 50px;
  color: antiquewhite;
}

.header-list {
  display: flex;
}

.header-list-item {
  margin: 0px 10px;
}

.nav-link {
  color:antiquewhite;
  text-decoration: none;
}

#footer-link {
  color: black;
}

footer {
  border-top: solid black 1px ;
  display: flex;
  align-items:baseline;
  justify-content: space-evenly;
  padding: 50px 0px;
  /* width: 85%; */
  margin: auto;

}

.list-label {
  font-weight: bold;
}

.banner {
  color: antiquewhite;
}

.about-background {
  background-image:url("./images/goldfish.jpeg"); 
}

.skills-background {
  background-image: url("./images/blue-banner.jpeg");
}

.projects-background {
  background-image: url("./images/red-banner.png");
}

.top-banner-title {
  /* padding:  10px 50px; */
  padding: 30px 0px 30px 150px;
}

.content {
  display: flex;
  background-color: #f7f4f4;
  width: 85%;
  margin: auto;
  padding: 15px;
}

.page-title {
  font-size: 70px;
  margin: 0px;
  
}

.content-paragraph {
  flex: 1;
  padding: 150px 150px;
  margin: 15px;
  
}

.left {
  border-right: dotted black 1px;
  
}

.resume-div {
  background-color: #999;
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  
}

.resume-img {
  height: 1000px;
  
}

.carousel-img {
  height: 200px;
}