body {
  padding: 0;
  margin: 0;
}

.App {
  font-family: "Hind Siliguri", sans-serif;
  background-color: white;
}

.list {
  list-style: none;
}

li {
  line-height: 0;
  color: black;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* #Header */

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0px 150px;
  background-color: white;
  position: fixed;
  width: 100%;
  border-bottom: solid black 1px;
  z-index: 1;
}
.header-list {
  display: flex;
  color: black;
}

#header-link {
  color: black;
}

#header-link:hover {
  color: #999;
}

.bob-logo {
  height: 40px;
}

.connect-container {
  /* border-right: 2px solid black;
  padding-right: 10px;
  margin-right: 10px; */
  text-align: right;
}

.navbar {
  padding: 0px;
  margin: 0px;
}

/* #footer */
footer {
  border-top: solid black 1px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 50px 150px 100px;
  margin: auto;
  background-color: rgb(247, 244, 244);
}

.footer-logo {
  height: 70px;
}

.footer-img {
  height: 20px;
  margin-left: 10px;
}

.list-label {
  font-weight: bold;
}

#connect-link {
  color: black;
}

#connect-link:hover {
  text-decoration: underline;
  transition: 0.8s;
}

#explore-link {
  color: black;
  margin: 15px 0px;
}

#explore-link:hover {
  text-decoration: underline;
  transition: 0.8s;
}

.footer-link-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Links */

.nav-link {
  text-decoration: none;
}

.dropdown-link {
  text-decoration: none;
  color: black;
}

.dropdown-link:hover {
  text-decoration: underline;
  color: white;
}

.project-link {
  text-decoration: none;
  color: black;
}

/* #banner */

.top-banner-title {
  padding: 100px 0px 0px 150px;
  margin-bottom: 40px;
}

.page-title {
  font-size: 70px;
  margin: 0px;
}
.eyebrow {
  margin-bottom: 15px;
  font-weight: 800;
}
/* #projects */
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-style: solid black 3px;
  margin: 50px 150px;
}
.project-card {
  height: 340px;
  width: 250px;
  background-color: rgb(246, 244, 244);
  color: black;
  border-radius: 5%;
  margin: 20px 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.project-img-container {
  height: 50%;
  border-radius: 5% 5% 0% 0%;
}

#starwars {
  background-image: url("./images/project-img/starwars-api.png");
  background-size: cover;
}

/* #content */

.content {
  display: flex;
  background-color: white;
  margin-bottom: 40px;
  padding: 15px 150px;
}

.flex-content {
  display: flex;
  justify-content: space-between;
  margin: 50px 150px;
}

.about-content {
  margin-left: 40px;
}

.skills-text {
  margin-right: 100px;
}

.bob-img {
  height: 250px;
  border-radius: 5%;
  border: groove grey 5px;
}

#experience {
  margin-left: 150px;
}

.attribute {
  height: 250px;
  width: 250px;
  background-color: rgb(236, 233, 233);
  /* box-shadow: 5px 5px; */
}

.attribute-img {
  height: 250px;
  width: 250px;
  object-position: inherit;
}

/* #carousel */

.carousel-cont {
  margin-left: 40px;
  width: 510px;
  background-color: white;
}

.carousel-img {
  height: 150px;
  margin: auto;
}

.skills-flex {
  display: flex;
  justify-content: center;
}

/* #Buttons */

.tech-btn {
  height: 230px;
  width: 280px;
  background-image: url("./images/computer.webp");
  background-size: cover;
  background-position: center;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 20px;
}

.workspace-btn {
  height: 230px;
  width: 280px;
  background-image: url("./images/desk.jpeg");
  background-size: cover;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 20px;
}

.physical-btn {
  height: 230px;
  width: 280px;
  background-image: url("./images/lifting.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 20px;
}

.close-btn {
  background-image: url("./images/close-button.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-left: auto;
  height: 40px;
  width: 40px;
  border-style: none;
  margin-top: -10px;
  margin-right: -10px;
}

/* .connect-btn {
  font-size: 100%;
  border: 0;
  padding: 0;
  background-color: white;
} */

.connect-btn:hover {
  color: #999;
}

/* #modal */

.modal-background {
  width: 100vw;
  height: 100vw;
  background-color: rgba(200, 200, 200, 0.35);
  padding-bottom: 700px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-container {
  width: 500px;
  /* height: 600px; */
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
  overflow: visible;
}

.modal-img {
  height: 225px;
  width: 300px;
  border-radius: 15%;
  margin: 0px;
  position: relative;
}

/* #Dropdown */

.dropdown {
  width: 100px;
}

.dropdown .dropdown-btn {
  padding: 8px 10px 0px 0px;
  background-color: #fff;
  /* box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06); */
  /* font-weight: bold; */
  color: #333;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  cursor: pointer;
}

.dropdown .dropdown-content {
  position: absolute;
  top: 110%;
  padding: 0px;
  left: 0;
  background: white;
  /* box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06); */
  font-weight: 500;
  color: black;
  width: 95%;
  text-align: right;
  overflow: hidden;
}

.dropdown .dropdown-content .dropdown-item {
  padding: 20px;
  cursor: pointer;
  transition: 0.2s;
  color: black;
}

.dropdown .dropdown-content .dropdown-item:hover {
  background: #999;
  color: black;
}

.dropdown-content {
  margin: 15px 50px 0px 0px;
  color: black;
  border: 1px solid black;
  border-radius: 1%;
}

.dropdown-item {
  color: black;
}

.dropdown-btn:hover {
  color: #999;
}

/* form */

form {
  padding-top: 80px;
}

.form-flex {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.project-form {
  width: 600px;
}

.input {
  border-radius: 8px;
  margin-bottom: 20px;
  width: 100%;
  font-size: small;
  padding-left: 5px;
  padding-bottom: 3px;
}

label {
  padding-left: 5px;
}

.project-form-container {
  width: 600px;
}

.text-box {
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
  border-style: solid black 5px;
  font-size: small;
  padding-left: 5px;
}

.submit-btn {
  width: 70px;
  height: 30px;
  border-radius: 8px;
  margin-bottom: 30vh;
}

/* admin */

.top-banner-title-admin {
  padding: 100px 170px 0px 150px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: #333 solid; */
}
.admin-btn {
  border-radius: 8px;
  margin-left: 20px;
  font-size: small;
}

.update-img {
  height: 20px;
}

.update-link {
  margin-right: 5px;
}

.admin-btn:hover {
  background-color: black;
  color: white;
}

#delete-btn:hover {
  background-color: red;
}

.project-list-container {
  display: flex;
  margin: 50px 150px;
}

.project-list {
  width: 50%;
  text-align: center;
  margin-bottom: 50vh;
  /* text-decoration: underline; */
}
.update-links {
  text-decoration: none;
  color: #999;
}

.update-links:hover {
  color: #666;
}
